@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.top-cart {
    height: 400px;
    background-image: url(img/cart_top_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__heading-big {
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        color: $color-text;
        margin-top: 127px;
    }
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__content {
        grid-column: span 8;
    }

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        max-width: 756px;
        padding-right: 30px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }


    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__name {
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &__price {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }

    &__link-box {
        display: flex;
        gap: 30px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration-line: underline;
        color: #000000;
    }

    &__number {
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        outline: none;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: #000000;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &__button-box {
        display: flex;
        gap: 7px;
        margin-top: 18px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        width: 200px;
        height: 37px;
        border: 1px solid #000000;
        border-radius: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        transition: all 1.5s;

        &_form {
            align-self: center;
            width: 290px;
            height: 41px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            animation: heartbeat 3.5s ease-in-out infinite both;
        }

        &:hover {
            background: #000000;
            color: #FFFFFF;
        }

        &_form:active {
            background: #888888;
            animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-left: 27px;
    padding-right: 32px;
    background: #F7F6F6;
    border-radius: 20px;
    height: 514px;
    grid-column: span 4;

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-align: center;
    }

    &__box {
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 41px;
    }

    &__item {
        outline: none;
        border: none;
        border-bottom: 1px solid #CACDD8;
        background: transparent;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 3px;

        &::placeholder {
            color: #000000;
        }
    }

    &__result {
        margin-top: 64px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        text-align: center;
        margin-bottom: 18px;
    }
}

@import 'mobile';