@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top__header {
        align-items: end;
        border-bottom: none;
        padding-bottom: 17px;

        .logo {
            &__img {
                width: 99px;
            }
        }

        .header__input {
            display: none;
        }

        .top__menu {
            display: none;
        }

        .top__menu-mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .top__headline {
            font-size: 48px;
            line-height: 59px;
            margin-top: 29px;
            margin-bottom: 16px;
            text-align: center;
        }

        .slogan {
            font-size: 16px;
        }

        .link_medium {
            font-size: 14px;
        }
    }

    .for-box {
        .headline_medium {
            font-size: 24px;
            line-height: 29.26px;
            margin-top: 32px;
        }

        .for {
            gap: 16px;
        }

        .for__item {
            height: 375px;
            grid-column: span 12;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 34.13px;
            color: $color-text;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .for__item_big {
            grid-column: span 12;
            height: 244px;
        }
    }

    .headline_medium {
        font-size: 24px;
        line-height: 29px;
        margin-top: 32px;
    }

    .product-content {
        row-gap: 32px;
        justify-content: center;

        .product {
            width: 343px;
        }

        .headline_small {
            font-size: 18px;
            line-height: 22px;
        }

        .price {
            font-size: 18px;
            line-height: 22px;
        }

        .old_price {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .link-go {
        margin-top: 37px;
        margin-bottom: 32px;
    }

    .footer {
        padding-bottom: 32px;

        .footer-content {
            justify-content: center;
            row-gap: 32px;
        }
    }

    .up {
        background-image: url(img/cat_top_mob.jpg);

        &__headline {
            font-size: 48px;
            line-height: 59px;
            margin-top: 82px;
            text-align: center;
        }
    }

    .box__select {
        margin-top: 32px;
        flex-wrap: wrap;
        gap: 16px;

        .links {
            font-size: 14px;
            line-height: 32px;
        }

        select {
            font-size: 14px;
            line-height: 17px;
        }

    }

    .top-cart {
        background-image: url(img/cart_top_bg_mob.jpg);
        margin-bottom: 92px;

        &__heading-big {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            margin-top: 82px;
        }

    }



    .cart {
        grid-template-columns: repeat(4, 1fr);
        gap: 14px;
        row-gap: 48px;

        &__content {
            grid-column: span 4;
        }

        &__name-box {
            display: none;
        }

        &__item {
            padding-top: 18px;
            padding-bottom: 24px;
        }

        &__image {
            display: none;
        }

        &__name {
            font-size: 18px;
            line-height: 22px;
        }

        &__text {
            font-size: 12px;
            line-height: 15px;
        }

        &__price {
            font-size: 12px;
            line-height: 15px;
        }

        &__button-box {
            margin-top: 8px;
            justify-content: center;
        }

        &__button {
            width: 166px;
            font-size: 12px;
            line-height: 15px;
        }

        &__button_form {
            width: 290px;
            height: 41px;
            font-size: 16px;
            line-height: 20px;
        }

    }


}