@import 'vars';

* {
    margin: 0;
    padding: 0;
}

/* у всех ссылок убираем нижнее подчеркивание */
a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(img/startpage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top__header {
    height: 77px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
    width: 288;
    height: 41;
    border: 1px solid $color-text;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.header__input::placeholder {
    color: $color-text;
}

.top__menu {
    display: flex;
    gap: 32px;
}

.top__menu-mob {
    display: none;
}

/* ссылки «Каталог» и «Корзина» в шапке сайта */
.menu__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
}

.menu__link:hover {
    text-decoration: underline;
}

/* заголовок "Всё, чего заслуживает ваш дом" */
.top__headline {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-style: normal;
    color: $color-text;
    max-width: 792px;
}

/* слоган "Наша мебель — ваше отражение" */
.slogan {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    color: $color-text;
}

/* Перейти в каталог после слогана - ссылка */
.link_medium {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: underline;
    color: $color-text;
}


/* для Главной страницы раздел "Мебель для..." */
.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for__item {
    height: 415px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for__item_big {
    grid-column: span 6;
}

@mixin pic() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.for__item_1 {
    background-image: url(img/for_1.jpg);
    @include pic();
}

.for__item_2 {
    background-image: url(img/for_2.jpg);
    @include pic();
}

.for__item_3 {
    background-image: url(img/for_3.jpg);
    @include pic();
}

.for__item_4 {
    background-image: url(img/for_4.jpg);
    @include pic();
}

.for__item_5 {
    background-image: url(img/for_5.jpg);
    @include pic();
}


/* заголовок "Специальные предложения" */
.headline_medium {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    font-style: normal;
    margin-top: 64px;
    margin-bottom: 32px;
}

.product-box center {
    margin-top: 64px;
}

.product-content {
    margin-top: 32px;
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_img {
    width: 100%;
    background-color: #C4C4C4;
}

/* заголовок название продукта*/
.headline_small {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 9px;
    font-style: normal;
}

/* текст описание товара */
.desk {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 12px;
}

.product__price-box {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.old_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
    text-decoration-line: line-through;
}

.link-go {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    display: block;
    margin-top: 39px;
    margin-bottom: 64px;
}


.footer {
    background: #F7F6F6;
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo__footer {
    display: block
}

.footer-content {
    width: 789px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    gap: 129px;
}

/* заголовки в подвале Меню и Контакты */
.headline_footer {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    font-style: normal;
}

.nav-footer__iterm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__iterm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ссылки в подвале Главная, Каталог, Корзина, номер телефона и email */
.link_footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    display: block;
}

.link_footer:hover {
    text-decoration: underline;
}

.footer__icons {
    display: flex;
    gap: 23px;
}

.icon-socialnet {
    display: block;
}

.icon-socialnet:hover path {
    fill: #000;
}

.footer__form {

    /* текст Получайте наши новости и обновления */
    .text_sub {
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        margin-bottom: 15px;
    }

    .form_email {
        background: $color-text;
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #c4c4c4;
        width: 275px;
        height: 46px;
        padding-left: 25px;
        padding-right: 102px;
        box-sizing: border-box;
        display: block;
        outline: none;
    }

    .form_email::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
    }

    .btn_sub {
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 20px;
        width: 275px;
        height: 46px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        line-height: 18px;
        color: #000000;
        display: block;
        margin-top: 12px;
        transition: all 1.5s;

        &:hover {
            background: #000000;
            color: #FFFFFF;
        }
    }
}



/* для страницы каталог */
.up {
    height: 400px;
    background-image: url(img/cat_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__headline {
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        margin-top: 127px;
        font-style: normal;
        color: $color-text;
    }
}



/* для Каталога ссылки и выпадающий список под главным заголовком */
.box__select {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.links {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.links__box__select {
    display: block;
    color: #000000;
}

.links__box__select:not(:last-child)::after {
    content: '/';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.links__box__select:hover {
    text-decoration: underline;
}

.select__box {
    position: relative;
    box-sizing: border-box;
    width: 288px;
    height: 41px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
}

select {
    appearance: none;
    width: 232px;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: $color-text;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
    outline: none;
}

.select__box:after {
    content: "";
    position: absolute;
    pointer-events: none;
    margin-top: 15px;
    margin-right: -15px;
    /* Рисуем треугольник */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
}

@import 'cart';
@import 'tablet';
@import 'mobile';